li.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
    height:100% !important;
    width: 100% !important;
    position: absolute.
 }
 .bo {
   height:100% !important;
   width: 100% !important;
   position: absolute.
 }
 .container {
  height: 100% !important;
  width: 100% !important;
  position: absolute.
 }
form {
  margin: 10px 0px;
}
html {
  height: 100% !important;
  width: 100% !important;

  position: absolute;
  margin: 0;
}
a.btn {

  display: flex;
  justify-content: center;
  margin: 10px ;
  background-color: #26155E;
  width: 110px;
  border: 1px solid #FFF;
}
.ofer {
  /*align-items: center;*/
  display: flex;

  /*justify-content: space-around;*/
}
.full{
  width: 100% !important;
  height: :100% !important;
}
.inline {
  /*align-items: center;*/
  margin-top: 20px;
  display: inline-block !important;

  width: 50%;

  /*justify-content: space-around;*/
}

th.test {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.Card {
  border: 1px solid #FFF;
  padding: 5px;
  background-color: #ffd699;
  height: 25%;
  min-height: 300px !important;
}
.jumbotron {
  background-color: #F5F5F5 !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}
.jumbotron h1 {
  margin-bottom: 50px !important;
  font-size: 100px !important;
  color: #311B92 !important;
}
.bodyc{
  margin: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px !important;
  position: relative !important;
}
.bodyc div{
  margin: 2px;
  display: relative;
  justify-content: space-between;
  align-items: center;
  font-size: 50px !important;
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}
.bodyc hr{
  position: relative !important;
  display: relative !important;
}

.korah{
  background-color: #6433B1 !important;
  text-align: left !important;

}
.cardview{
  width: 100% !important;

  font-weight: large;
  font: 40px arial, sans-serif !important;

}
.cardhead{
    font: 40px arial, sans-serif !important;
}
.cardhead.span{
  font: 40px arial, sans-serif !important;
}
.img-circle {
    border-radius: 50%;
    width: 150px !important;
    height: 150px !important;
    border-radius: 100%;
    border: 2px solid #212121;

}
.icon {
    display: block!important;
    margin: 5 auto!important;
    position: absolute;
    top: 0; bottom:0; right:0;

}
.icon2 {
    display: block!important;
    margin: 5 auto!important;
    position: absolute;
    bottom:0; left:0;

}
.mom {
    width: 100%; /* Try setting this to 400px or something */
    display: table;
    padding: 1px;

}
.child {
    display: table-cell;
    padding: : 1
}
.childinner {
    margin-left: 25px;
    /* Decorative .. */
    align-items: center;

    text-align: center;
    font: 40px arial, sans-serif !important;;
    padding: 2
}
.child:first-child .childinner {
    margin-left: 0;
}
h1 {
  text-align: center;

}
.temp1 {
    background-color: #26155E !important;
}
.temp2{
    background-color: #26155E !important;
}
.temp3 {
    background-color: #26155E !important;
}
